body {
    background: url(./img/kili_background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.opaque-card{
    background-color: rgba(230, 230, 230, 0.6)
}

.btn{
    border: none;
    color: white;
    padding: 6px 8px;
    font-size: 16px;
    cursor: pointer;
}

.btn-linkedin {
    background-color: DodgerBlue;
}

.btn-linkedin:hover {
    background-color: RoyalBlue;
}

.btn-github{
    background-color: gray;
}

.btn-github:hover {
    background-color: #505050;
}